#gameBoardContainer {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.box {
  width: 98px;
  height: 98px;
  border: 1px solid black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #f2f2f2;
}
.notDisplay {
  display: none;
}
.avatarImage {
  width: 100px;
}
.avatarChoicePlayer1,
.avatarChoicePlayer2 {
  width: 100px;
}
.selectedPlayer1 {
  border: 4px solid rgb(4, 4, 130);
  border-radius: 50%;
}
.selectedPlayer2 {
  border: 4px solid red;
  border-radius: 50%;
}
.notSelected {
  opacity: 50%;
}
